<!-- More information on ROS launch http://wiki.ros.org/roslaunch/XML -->

<launch>
  <!-- 
       Using simulation time means nodes initialized after this
       will not use the system clock for its ROS clock and 
       instead wait for simulation ticks. 
       See http://wiki.ros.org/Clock
       Note: set to false for deploying to a real robot.
  -->
    <arg name="use_sim_time" default="true"/>

    <node pkg="fp_andy_phuc" type="server" name="server" output="screen"/>
    <node pkg="fp_andy_phuc" type="tfbroadcaster" name="tfbroadcaster" output="screen"/>
    <node pkg="fp_andy_phuc" type="agent" name="tb3_0" output="screen"/>
    <node pkg="fp_andy_phuc" type="agent" name="tb3_1" output="screen"/>
    <node pkg="fp_andy_phuc" type="agent" name="tb3_2" output="screen"/>
    <node pkg="fp_andy_phuc" type="agent" name="tb3_3" output="screen"/>

    <!-- TF broadcaster parameters-->
    <rosparam param="num_robots">4</rosparam>

    <!-- conflict based search parameters-->
    <rosparam param="robot_linear_vel">0.2</rosparam>
    <rosparam param="robot_angular_vel">0.2</rosparam>
    <rosparam param="num_node">20</rosparam>
    <rosparam param="threshold">4</rosparam>
    <rosparam param="grid_x">10</rosparam>
    <rosparam param="grid_y">10</rosparam>
    <rosparam param="conflict_threshold">10</rosparam>
    <rosparam param="robot_names">["tb3_0", "tb3_1", "tb3_2", "tb3_3"]</rosparam>
    <rosparam param="goal_names">["goal_0", "goal_1", "goal_2", "goal_3"]</rosparam>
    <rosparam param="robot_locations">[[0,2], [0,4], [0,6], [0,8]]</rosparam>
    <rosparam param="goal_locations">[[6,4], [2,2], [9,1], [2, 8]]</rosparam>
</launch>