<!-- More information on ROS launch http://wiki.ros.org/roslaunch/XML -->

<launch>
  <!-- 
       Using simulation time means nodes initialized after this
       will not use the system clock for its ROS clock and 
       instead wait for simulation ticks. 
       See http://wiki.ros.org/Clock
       Note: set to false for deploying to a real robot.
  -->
    <arg name="use_sim_time" default="true"/>

    <node pkg="fp_andy_phuc" type="server" name="server" output="screen"/>
    <node pkg="fp_andy_phuc" type="tfbroadcaster" name="tfbroadcaster" output="screen"/>
    <node pkg="fp_andy_phuc" type="agent" name="robot_0" output="screen"/>
    <node pkg="fp_andy_phuc" type="agent" name="robot_1" output="screen"/>
    <node pkg="fp_andy_phuc" type="agent" name="robot_2" output="screen"/>
    <node pkg="fp_andy_phuc" type="agent" name="robot_3" output="screen"/>

    <!-- TF broadcaster parameters-->
    <rosparam param="num_robots">4</rosparam>

    <!-- conflict based search parameters-->
    <rosparam param="robot_linear_vel">0.4</rosparam>
    <rosparam param="robot_angular_vel">0.4</rosparam>
    <rosparam param="num_node">20</rosparam>
    <rosparam param="threshold">4</rosparam>
    <rosparam param="grid_x">10</rosparam>
    <rosparam param="grid_y">10</rosparam>
    <rosparam param="conflict_threshold">20</rosparam>
    <rosparam param="robot_names">["robot_0", "robot_1", "robot_2", "robot_3"]</rosparam>
    <rosparam param="goal_names">["goal_0", "goal_1", "goal_2", "goal_3"]</rosparam>
    <rosparam param="robot_locations">[[10.5, 10.5], [20.5, 20.5], [5.5, 45.5], [50.5,40.5]]</rosparam>
    <rosparam param="goal_locations">[[25.5, 20.5], [25.5,10.5], [10.5, 22.5], [10.5, 30.5]]</rosparam>
</launch>