<!-- More information on ROS launch http://wiki.ros.org/roslaunch/XML -->

<launch>
  <!-- 
       Using simulation time means nodes initialized after this
       will not use the system clock for its ROS clock and 
       instead wait for simulation ticks. 
       See http://wiki.ros.org/Clock
       Note: set to false for deploying to a real robot.
  -->
    <arg name="use_sim_time" default="true"/>
    <param name="use_sim_time" value="$(arg use_sim_time)"/>

    <node pkg="fp_andy_phuc" type="server" name="server" output="screen"/>

    <rosparam param="robot_names">["/tb3_0", "/tb3_1", "/tb3_2", "/tb3_3"]</rosparam>
    <rosparam param="goal_names">["/goal_0", "/goal_1", "/goal_2", "/goal_3"]</rosparam>
    <rosparam param="robot_locations">[[0,2], [0,4], [0,6], [0,8]]</rosparam>
    <rosparam param="goal_locations">[[6,4], [2,2], [9,1], [2, 8]]</rosparam>
</launch>